th, td {
    border: 1px solid #ffffff;
    border-collapse: collapse;
    color: #ffffff;
}

th {
    background-color: #6ec1e4;
    color: #000000;
    font-size: 18px;
    padding: 8px;
}

td {
    padding: 8px;
}

.email {
  color: #6ec1e4;
}